<script src='{{ root_url }}/lib/js/jquery.timeago.js' type="text/javascript"></script>
<style>
@font-face {
    font-family: 'FreebooterScriptRegular';
    src: url('/font/freebooter.eot');
    src: url('/font/freebooter.eot?#iefix') format('embedded-opentype'),
         url('/font/freebooter.woff') format('woff'),
         url('/font/freebooter.ttf') format('truetype'),
         url('/font/freebooter.svg#FreebooterScriptRegular')
	   format('svg');
    font-weight: normal;
    font-style: normal;
}
#logo {
    font-family: 'FreebooterScriptRegular';
    text-decoration: none;
}
</style>
